@model List<Mooshak2.Models.ViewModels.AssignmentViewModel>

@{
	ViewBag.Title = "Assignments";
}

<br />
<p>
	@Html.ActionLink("Create Assignment", "CreateAssignments", null, new { @class = "btn btn-info" })

</p>
<br />

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Course</th>
				<th>Assignment</th>
				<th>Milestone</th>
				<th>DueDate</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.CourseName)</td>
					<td>@Html.DisplayFor(modelItem => item.Title)</td>
					<td>
						@foreach (var item2 in item.MilestonesTitles)
						{
							<p>@Html.DisplayFor(modelItem => item2)</p>
						}

					</td>
					<td>@Html.DisplayFor(modelItem => item.DueDate)</td>
					<td>
                        @Html.ActionLink("Add Milestone", "AddMilestone", new { assignmentID = item.ID }) |
						@Html.ActionLink("Edit", "EditAssignment", new { assignmentID = item.ID }) |
						@Html.ActionLink("Delete", "DeleteAssignment", new { milestoneTitle = item.MilestoneTitle },
							new { onclick = "return confirm('Are you sure you wish to delete this Assignment?');" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>